{% extends "base.html" %}

{% block title %}{{ birth.title }}{% endblock %}

{% block header %}{{ birth.title|capfirst }}{% endblock %}

{% load thumbnail %}

{% block content %}

      {% thumbnail birth.image "100x100" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
      {% endthumbnail %}

      <p>{{ birth.content|safe }}</p>

      <i>{{ birth.name }}</i><br><br>

      <p>
      Año: {{ birth.year }}<br>
      Nacido en {{ place }}<br>
      Lugar: {{ birth.city }} / {{ birth.country }}
      </p>
{% endblock %}
