{% extends "base.html" %}

{% block title %}Historias de Partos en Uruguay{% endblock %}

{% load thumbnail %}

{% block content %}
      <div class="row">
      {% for story in birth_list %}
        <div class="span5">
          <a href="/historia/{{ story.slug }}">
          {% thumbnail story.image "200x200" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
          </a>
        </div>
      {% endfor %}
    </div>
{% endblock %}
