{% extends "base.html" %}

{% block title %}Historias de Partos en Casa en Uruguay{% endblock %}

{% block header %}Nuestra Historia{% endblock %}
{% block content %}
     <p>     Todas tenemos historias de alguien que nacio en casa. O tu abuela o tu bisabuelo o tu tio o tu hijo. Desde hace siglos es el lugar en donde la humanidad ve por primera vez el mundo, su casa, su nido, el lugar donde las mujeres se sientan más comodas. En los tiempos que vivimos tenemos la suerte de poder controlar nuestro embarazo y tener al alcance (en la mayoria de los casos) el acceso a un hospital si nuestro embarazo o parto se complica.</P>
     <p>     Asi y con todo muchisimos medicos intentan decirnos como parir y en donde. Por muchos años nos han dicho que lo mejor es hacer trabajo de parto acostadas y asi facilitarle el trabajo de sacar al bebe a quienes nos atienden e ir totalmente contra la ley de gravedad. No nos han dejado mecernos, meternos en el agua, ser consoladas por nuestra amiga, madre o compañero. Y es tiempo que pasemos nuestras historias a las generaciones que vienen. Y que otras mujeres puedan tener confianza en si mismas y saber que ellas pueden decidir donde tener a sus hijos y que merecen que se las respeten y atiendan en caso de complicaciones.</p>
     Por esto ha nacido este sitio, para contar nuestras historias. Adelante!

{% endblock %}
