<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Historias de Parto en Uruguay{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap-1.2.0.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-79641-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="/">Parto en Casa</a></h3>
          <ul class="nav">
            <li class="active"><a href="/">Historias</a></li>
            <li><a href="/nosotras/">Sobre Nosotras</a></li>
            <li><a href="/contacto/">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main historias unit for a primary marketing message or call to action -->
      <div class="historias-unit">
        <h1>{% block header %}Partos en Uruguay{% endblock %}</h1>
        <p><a class="btn primary large" href="/tu_historia/">Envia tu Historia&raquo;</a></p>
      </div>


      {% block content %}{% endblock %}


      <footer>
      {% block footer %} <p>&copy; Derecho A Parir Donde Queramos 2011</p> {% endblock %}
      </footer>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#appId=255078801200050&xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-href="http://www.partosencasa.org" data-send="false" data-width="100" data-show-faces="false"></div>
    </div> <!-- /container -->

  </body>
</html>
